* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

html {
  height: 100%;
  background: #112d49;
  /* background: linear-gradient(
    195deg,
    rgba(240, 128, 128, 1) 24%,
    rgba(173, 216, 230, 1) 56%
  ); */
}
